$color-dark-grayish-blue: hsl(217, 19%, 35%);
$color-desaturated-dark-blue: hsl(214, 17%, 51%);
$color-grayish-blue: hsl(212, 23%, 69%);
$color-light-grayish-blue: hsl(210, 46%, 95%);

$color-white: hsl(0, 0%, 100%);

$color-dark-grayish-blue-rgb: 72, 85, 106;
$color-desaturated-dark-blue-rgb: 109, 127, 151;
$color-grayish-blue-rgb: 158, 175, 194;
$color-light-grayish-blue-rgb: 236, 242, 248;
$color-white-rgb: 255, 255, 255;

$font-family-primary: 'Manrope', sans-serif;
$font-family-headings: 'Manrope', sans-serif;

$font-size-primary: 13px;

$font-weight-500: 500;
$font-weight-700: 700;
